div(class=`mdc-card skill-item skill-item__${skill.state}` data-team-name=team.name data-skill-id=skill.id data-skill-state=skill.state data-skill-rank=skill.rank)
  section(class='mdc-card__primary')
    h1(class='mdc-card__title mdc-card__title--large')= skill.title
  section(class='mdc-card__supporting-text')
    p
      strong Description
    p= skill.why
  section(class='mdc-card__supporting-text')
    p
      strong Implementation
    p= skill.how
  section(class='mdc-card__supporting-text')
    p
      strong Validation
    p= skill.validation
  section(class='mdc-card__supporting-text')
    p
      strong Links
    div
      section(class='mdc-card__actions')
        each link in skill.links
          a(class='mdc-card__action' href=link.url)
            button(data-mdc-auto-init='MDCRipple' class='mdc-button mdc-button--raised primary-billed-button')= link.title
