div(class=`mdc-card skill-item skill-item__${skill.state}` data-team-name=team.name data-skill-id=skill.id data-skill-state=skill.state data-skill-rank=skill.rank)
  section(class='mdc-card__primary')
    h1(class='mdc-card__title mdc-typography--headline')= skill.title
  section(class='mdc-card__supporting-text')
    span(class='skill-section') Description
    p= skill.why
    span(class='skill-section') Implementation
    p= skill.how
    span(class='skill-section') Validation
    p= skill.validation
  if skill.links.length
    section(class='mdc-card__actions')
      each link in skill.links
        a(class='mdc-card__action' href=link.url)
          button(data-mdc-auto-init='MDCRipple' class='mdc-button mdc-button--raised primary-filled-button')= link.title
